html
    head
        style
            include style.css
        script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.core.js')
        title= title
        script.
            //console.log("#{hashrate}");
            var raw = "#{hashrate}";
            JSON.parse(raw.replace(/&quot;/g,'"'));
            var hashrate_array = JSON.parse(raw.replace(/&quot;/g,'"'));
            //console.log(hashrate_array);
            let data = "#{data}";
            let data_array = JSON.parse(data.replace(/&quot;/g, '"'));

            let polo_data = "#{polo_data}";
            let polo_data_array = JSON.parse(polo_data.replace(/&quot;/g, '"'));

    body
        div(id='div-class')
        script(src='./1041.js')
        script(src='./blocktime.js')